<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Carpet</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/97c02f89cd.js"></script>
</head>
<body>
    <h1>Quick & Easy Loan</h1>
    <form action="/search" class="" method="POST">
      <div class="form-group">
        <div class="input-group">
            
            <!-- Search form -->
            <abbr title="Search"><i class="fas fa-search-location fa-3x"></i></abbr>
           
            <input class="form-control  search" type="number" id="search" name="search"  placeholder="Search Customer ID" aria-label="Search" >
        </div>
      </div>
    </form>
    <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Track Payments</h5>
          <p class="card-text">Track your payments easily and seamlesly.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Due Date</h5>
          <p class="card-text">Know exactly when you need to clear you debt.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Amazing Deals</h5>
          <p class="card-text">Get amazing deals on your first loan.</p>
          
        </div>
        <div>
          <h3>New Loan ? Please fill form<h3>
          <a href="/cus_register" class="btn btn-primary">Fill Form</a><br>
         
          
        </div>
        
      </div>


</body>
</html>